node_modules
dist
build
generated
coverage
.nyc_output

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

.vscode
.idea
.DS_Store

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
Dockerfile.dev
.dockerignore
docker-compose*.yml

README.md
__tests__
__mocks__
test
*.spec.ts
*.e2e-spec.ts

*.tsbuildinfo
